html {
  height: 100%;
  width: 100%;
}
body{
      background-image: url("https://images.bauerhosting.com/empire/2021/06/fast-header.jpg?ar=16%3A9&fit=crop&crop=top&auto=format&w=1440&q=80");
      background-size: cover;
}
  

.option-five,
.option-six,
.option-seven,
.option-eight {
  display: none;
}

  